@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #007bff;
  --mainWhite: #e6f7ff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite) !important;
  font-family: "Lato", sans-serif;
}
main{
  margin-top: 105px;
}
button {
  outline: none;
}
.btn{
  width: auto;
  padding: 15px !important;
  font-size: 1.2em !important;
  font-weight: bold !important;

}
.fas{
  cursor: pointer;
}

/* --------------- Navbar ---------------- */
header{
  position: fixed;
  min-width: auto;
  width: 100%;
  z-index: 50;
  height: auto;
  top: 0;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: var(--mainWhite);
  z-index: 1;
box-shadow: 0 5px 15px rgba(15, 36, 230, 0.2);

}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  color: var(--mainBlack) !important;
}
.nav-icon {
  font-size: 1.5rem;
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background:var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
.fa-user, .fa-shopping-cart{
    color: var(--mainBlack);
    fill: var(--mainBlack);
} 

 .user{

  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.products article {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: var(--mainTransition);
  margin-bottom: 1px;
  overflow: hidden;
}

.products article sub,
.products article sup {
  font-size: 100%;
}
.products article .text {
  width: 100%;
  padding: 10px;
  color: var(--mainBlack);
}
.products article .text a:hover {
  color: var(--primaryColor) !important;
}
.products article .text .title {
  display: block;
  margin: 0 0 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.products article .text sub,
.products article .text sup {
  bottom: auto;
  top: auto;
  display: inline-block;
  margin-right: 10px;
}
.products article .text sub {
  text-decoration: line-through;
  font-weight: 300;
}
.products article .image {
  overflow: hidden;
  height: auto;
}
.products article .image a {
  display: block;
}
.products article .image img {
  width: 100%;
}
.products article .cart-btn {
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.products article:hover .cart-btn {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.products article .info {
  display: none;
  position: absolute;
  width: 35px;
  right: 15px;
  top: 50px;
  margin-right: 0;
  margin-top: 5px;
  z-index: 3;
}
.products article .info .add-favorite.added {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}


.products article .info a {
  position: relative;
  border: 1px solid var(--mainBlack);
  display: inline-block;
  padding: 0 5px;
  background-color: transparent;
  color: var(--mainBlack);
  text-align: center;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
}
@media (min-width: 992px) {
  .products article .info a {
    margin-bottom: 10px;
  }
}
.products article .info a:hover {
  background-color: var(--mainBlack);
  color: #fff;
}
.products article .info a:hover:after {
  position: absolute;
  content: attr(data-title);
  padding: 5px 6px;
  right: 110%;
  top: 3px;
  white-space: nowrap;
  z-index: 20;
  background-color: var(--mainBlack);
  color: #fff;
  font-size: 10px;
  border-radius: 5px;
  line-height: normal;
}
.products article .info > span {
  display: block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}
.title a{
  color: var(--mainBlack) !important;
}
@media (min-width: 992px) {
  .products article .info {
    display: block;
  }
}
.products article:hover .info > span {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
.products article .info > span:nth-child(1) {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.products article .info > span:nth-child(2) {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.products article .info > span:nth-child(3) {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


@media (min-width: 768px) {
  .products article {
    margin-bottom: 30px;
  }
  .products article sub,
  .products article sup {
    font-size: 80%;
  }
  .products article:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .products article .figure-grid .text {
    position: absolute;
    padding: 20px 20px 0;
    top: 0;

  }
  
}
@media (max-width: 767px) {
  .products .row {
    margin: 0;
  }
  .products .container,
  .products .row > div {
    padding-left: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
  }
  .products .cart-btn {
    display: none;
  }
  .products .trash-btn {
    display: block;
  }
}

.btn.cart-btn {
  background: transparent;
  position: absolute;
  overflow: hidden;
  color: var(--mainBlack);
  bottom: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100px;
  font-size: 19px;
  cursor: pointer;
  z-index: 9;
}
.btn.trash-btn {
  background: transparent;
  position: absolute;
  overflow: hidden;
  color:black;
  bottom: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100px;
  font-size: 19px;
  cursor: pointer;
  z-index: 9;
}
.btn.cart-btn:hover {
  color: #fff;
}
.btn.trash-btn:hover {
  color: rgb(206, 36, 36);
}
.btn.cart-btn:hover:before {
  background-color: var(--mainBlack);
}
.btn.cart-btn:hover i {
  color: #fff;
}
.btn.cart-btn .fas {
  position: absolute;
  bottom: 17px;
  right: 30%;
}
.btn.cart-btn:before {
  background-color: transparent;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 40%;
  left: 0%;
  z-index: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 991px) {
  .btn.cart-btn .fas {
    position: absolute;
    right: 20%;
  }
}
@media (max-width: 1125px) {
  
}
@media (max-width: 767px) {
  
   .products .cart-btn {
    display: block;
  } 
  .products article .figure-grid .text {
    position: absolute;
    top: 0%;
  }
  .products .product-card{
    margin-bottom: 20px;
  }

}
@media (max-width: 470px) {
  .products article{
    max-width: 100%;
  }}


.products {
  padding: 4rem 0;
}

.products-row {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax( 280px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}

/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */
